//main: main.scss

$primary-color: #FFE4D6;
$secondary-color: #FACBEA;
$tertiary-color: #B0578D;


//Navbar!
$primary:#FACBEA;

//Card color
$primary-card:#FACBEA;
$border-card:#B0578D;

//CV Color
$cont-left:#D988B9;
$cont-right: white;
$div-backg: black;


//Body Background
$body-bg:   $primary-color;



